In [8]:
print("hello world!")

hello world!

In [9]:
import logging,os
from datetime import datetime
dir_name = "insurance_logs"
# os.makedirs(dir_name,exist_ok=True)

time_stamp=datetime.now().strftime("%d-%m-%y %H:%M:%S")
file_name=time_stamp + ".log"

log_file_path = os.path.join(dir_name, file_name)

In [10]:
import sys 
class InsuranceException(Exception):
    def __init__(self,error_message : Exception,error_details : sys):
        super().__init__(error_message)
        self.error_message = InsuranceException.error_message_detail(error_message,error_details=error_details)


    @staticmethod
    def error_message_detail(error:Exception,error_details : sys)->str:
        error_class,error_message,exc_tb = error_details.exc_info()
        line_number = exc_tb.tb_frame.f_lineno
        file_name = exc_tb.tb_frame.f_code.co_filename

        error_message = f"error occured in this{file_name}file,at the line no. [{line_number}], error message:- [{error_message}]"
        return error_message
    

    def __str__(self):
        return InsuranceException.__name__.__str__()

In [11]:
try: 
    10/0
except Exception as e:

    stre = InsuranceException(e,sys)
    print(stre)

InsuranceException

In [12]:
import pandas as pd

In [12]:
df = pd.read_csv("insurance.csv")
first_portion = df.loc[0:df.shape[0]//2]
second_portion = df.loc[df.shape[0]//2+1:]

In [14]:
second_portion.head()

     age     sex    bmi  children smoker     region     charges
670   30    male  31.57         3     no  southeast   4837.5823
671   29  female  31.16         0     no  northeast   3943.5954
672   36    male  29.70         0     no  southeast   4399.7310
673   41  female  31.02         0     no  southeast   6185.3208
674   44  female  43.89         2    yes  southeast  46200.9851

In [15]:
first_portion.to_csv("firsthalf_data.csv",index=False)

second_portion.to_csv("secondhalf_data.csv",index=False)

In [15]:
import mysql.connector

In [16]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234' # Replace with your MySQL password
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

# Connect and create a cursor
connection = connect_to_mysql()
if connection:
    cursor = connection.cursor()

    # Execute a query
    cursor.execute("SHOW DATABASES;")
    print("Databases:")
    for db in cursor.fetchall():
        print(f"- {db[0]}")

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Databases:
- information_schema
- mysql
- performance_schema
- sakila
- sys
- world
Connection closed.

In [17]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [28]:
df1 = pd.read_csv("firsthalf_data.csv")
df1.head()
# df1.drop(["Unnamed: 0"],axis=1,index=False)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [11]:
df2 = pd.read_csv("secondhalf_data.csv")

df2.head()

      sex    bmi  children smoker     region     charges
0    male  31.57         3     no  southeast   4837.5823
1  female  31.16         0     no  northeast   3943.5954
2    male  29.70         0     no  southeast   4399.7310
3  female  31.02         0     no  southeast   6185.3208
4  female  43.89         2    yes  southeast  46200.9851

In [35]:
df2.to_csv("secondhalf_data.csv",index=0)

In [36]:
df3 = pd.read_csv("secondhalf_data.csv")
df3.head()

      sex    bmi  children smoker     region     charges
0    male  31.57         3     no  southeast   4837.5823
1  female  31.16         0     no  northeast   3943.5954
2    male  29.70         0     no  southeast   4399.7310
3  female  31.02         0     no  southeast   6185.3208
4  female  43.89         2    yes  southeast  46200.9851

In [39]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db'      # Replace with your database name
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            id INT AUTO_INCREMENT PRIMARY KEY,
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table
    create_table(connection)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Connection closed.

In [45]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db'      # Replace with your database name
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

def load_data_from_csv(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Load data from CSV into the table
        load_data_query = f"""
        LOAD DATA INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table if it doesn't exist
    create_table(connection)
    
    # Specify the path to your CSV file
    csv_file_path = './firsthalf_data.csv'  # Update this path
    
    # Load data from CSV into the table
    load_data_from_csv(connection, csv_file_path)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Error loading data from CSV: 1290 (HY000): The MySQL server is running with the --secure-file-priv option so it cannot execute this statement
Connection closed.

In [46]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db', # Replace with your database name
            allow_local_infile=True  # Enable loading local files
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

def load_data_from_csv(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Use the LOCAL option to load from a local file
        load_data_query = f"""
        LOAD DATA LOCAL INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table if it doesn't exist
    create_table(connection)
    
    # Specify the path to your CSV file
    csv_file_path = './firsthalf_data.csv'  # Update this path
    
    # Load data from CSV into the table
    load_data_from_csv(connection, csv_file_path)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Error loading data from CSV: 3948 (42000): Loading local data is disabled; this must be enabled on both the client and server sides
Connection closed.

In [4]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='13.53.42.161',       # Replace with your host, e.g., '127.0.0.1'
            user='Admin',            # Replace with your MySQL username
            password='Password123!',        # Replace with your MySQL password
            database='room', # Replace with your database name
            allow_local_infile=True  # Enable loading local files
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

def load_data_from_csv(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Use the LOCAL option to load from a local file
        load_data_query = f"""
        LOAD DATA LOCAL INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table if it doesn't exist
    create_table(connection)
    
    # Specify the path to your CSV file
    csv_file_path = './firsthalf_data.csv'  # Update this path
    
    # Load data from CSV into the table
    load_data_from_csv(connection, csv_file_path)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Data loaded successfully from CSV.
Connection closed.

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp313-cp313-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp313-cp313-win_amd64.whl (976 kB)
   ---------------------------------------- 0.0/976.9 kB ? eta -:--:--
   ---------- ----------------------------- 262.1/976.9 kB ? eta -:--:--
   ---------------------------------------- 976.9/976.9 kB 5.7 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [4]:
!pip install pymongo pandas

Requirement already satisfied: pymongo in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (4.10.1)
Requirement already satisfied: pandas in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pymongo) (2.7.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
import pandas as pd
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient('mongodb+srv://jaikrishan2001:MuG5lYzwxJ0jMW5l@testing.w2n2r.mongodb.net/')  # Replace with your connection string if needed

# Specify the new database and collection name
new_db_name = 'mlproject_database'  # Change to your preferred database name
new_collection_name = 'ml_collection'  # Change to your preferred collection name

# Access the database and collection
db = client[new_db_name]
collection = db[new_collection_name]

# Load the CSV file into a pandas DataFrame
csv_file_path = 'secondhalf_data.csv'  # Replace with the actual path to your CSV file
data = pd.read_csv(csv_file_path)

# Convert the DataFrame to a list of dictionaries
data_dict = data.to_dict(orient='records')
data_dict

# Insert the data into MongoDB
result = collection.insert_many(data_dict)

# print(f"Inserted {len(result.inserted_ids)} documents into the collection '{new_collection_name}' in the database '{new_db_name}'.")

# # Verify the insertion
# print("Sample documents inserted into the collection:")
for doc in collection.find():  # Display the first 5 documents
    print(doc)

{'_id': ObjectId('679c71dcd9b702a57f0a2ec7'), 'age': 30, 'sex': 'male', 'bmi': 31.57, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 4837.5823}
{'_id': ObjectId('679c71dcd9b702a57f0a2ec8'), 'age': 29, 'sex': 'female', 'bmi': 31.16, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 3943.5954}
{'_id': ObjectId('679c71dcd9b702a57f0a2ec9'), 'age': 36, 'sex': 'male', 'bmi': 29.7, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 4399.731}
{'_id': ObjectId('679c71dcd9b702a57f0a2eca'), 'age': 41, 'sex': 'female', 'bmi': 31.02, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 6185.3208}
{'_id': ObjectId('679c71dcd9b702a57f0a2ecb'), 'age': 44, 'sex': 'female', 'bmi': 43.89, 'children': 2, 'smoker': 'yes', 'region': 'southeast', 'charges': 46200.9851}
{'_id': ObjectId('679c71dcd9b702a57f0a2ecc'), 'age': 45, 'sex': 'male', 'bmi': 21.375, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 7222.78625}
{'_id': ObjectId('679c71dcd9b702a57f0a2ecd'), 'age': 55, 'sex': 'female', 'bmi': 40.81, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 12485.8009}
{'_id': ObjectId('679c71dcd9b702a57f0a2ece'), 'age': 60, 'sex': 'male', 'bmi': 31.35, 'children': 3, 'smoker': 'yes', 'region': 'northwest', 'charges': 46130.5265}
{'_id': ObjectId('679c71dcd9b702a57f0a2ecf'), 'age': 56, 'sex': 'male', 'bmi': 36.1, 'children': 3, 'smoker': 'no', 'region': 'southwest', 'charges': 12363.547}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed0'), 'age': 49, 'sex': 'female', 'bmi': 23.18, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'charges': 10156.7832}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed1'), 'age': 21, 'sex': 'female', 'bmi': 17.4, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 2585.269}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed2'), 'age': 19, 'sex': 'male', 'bmi': 20.3, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 1242.26}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed3'), 'age': 39, 'sex': 'male', 'bmi': 35.3, 'children': 2, 'smoker': 'yes', 'region': 'southwest', 'charges': 40103.89}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed4'), 'age': 53, 'sex': 'male', 'bmi': 24.32, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 9863.4718}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed5'), 'age': 33, 'sex': 'female', 'bmi': 18.5, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 4766.022}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed6'), 'age': 53, 'sex': 'male', 'bmi': 26.41, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 11244.3769}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed7'), 'age': 42, 'sex': 'male', 'bmi': 26.125, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 7729.64575}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed8'), 'age': 40, 'sex': 'male', 'bmi': 41.69, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 5438.7491}
{'_id': ObjectId('679c71dcd9b702a57f0a2ed9'), 'age': 47, 'sex': 'female', 'bmi': 24.1, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 26236.57997}
{'_id': ObjectId('679c71dcd9b702a57f0a2eda'), 'age': 27, 'sex': 'male', 'bmi': 31.13, 'children': 1, 'smoker': 'yes', 'region': 'southeast', 'charges': 34806.4677}
{'_id': ObjectId('679c71dcd9b702a57f0a2edb'), 'age': 21, 'sex': 'male', 'bmi': 27.36, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 2104.1134}
{'_id': ObjectId('679c71dcd9b702a57f0a2edc'), 'age': 47, 'sex': 'male', 'bmi': 36.2, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 8068.185}
{'_id': ObjectId('679c71dcd9b702a57f0a2edd'), 'age': 20, 'sex': 'male', 'bmi': 32.395, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 2362.22905}
{'_id': ObjectId('679c71dcd9b702a57f0a2ede'), 'age': 24, 'sex': 'male', 'bmi': 23.655, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 2352.96845}
{'_id': ObjectId('679c71dcd9b702a57f0a2edf'), 'age': 27, 'sex': 'female', 'bmi': 34.8, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 3577.999}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee0'), 'age': 26, 'sex': 'female', 'bmi': 40.185, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 3201.24515}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee1'), 'age': 53, 'sex': 'female', 'bmi': 32.3, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 29186.48236}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee2'), 'age': 41, 'sex': 'male', 'bmi': 35.75, 'children': 1, 'smoker': 'yes', 'region': 'southeast', 'charges': 40273.6455}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee3'), 'age': 56, 'sex': 'male', 'bmi': 33.725, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 10976.24575}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee4'), 'age': 23, 'sex': 'female', 'bmi': 39.27, 'children': 2, 'smoker': 'no', 'region': 'southeast', 'charges': 3500.6123}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee5'), 'age': 21, 'sex': 'female', 'bmi': 34.87, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 2020.5523}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee6'), 'age': 50, 'sex': 'female', 'bmi': 44.745, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 9541.69555}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee7'), 'age': 53, 'sex': 'male', 'bmi': 41.47, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 9504.3103}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee8'), 'age': 34, 'sex': 'female', 'bmi': 26.41, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 5385.3379}
{'_id': ObjectId('679c71dcd9b702a57f0a2ee9'), 'age': 47, 'sex': 'female', 'bmi': 29.545, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 8930.93455}
{'_id': ObjectId('679c71dcd9b702a57f0a2eea'), 'age': 33, 'sex': 'female', 'bmi': 32.9, 'children': 2, 'smoker': 'no', 'region': 'southwest', 'charges': 5375.038}
{'_id': ObjectId('679c71dcd9b702a57f0a2eeb'), 'age': 51, 'sex': 'female', 'bmi': 38.06, 'children': 0, 'smoker': 'yes', 'region': 'southeast', 'charges': 44400.4064}
{'_id': ObjectId('679c71dcd9b702a57f0a2eec'), 'age': 49, 'sex': 'male', 'bmi': 28.69, 'children': 3, 'smoker': 'no', 'region': 'northwest', 'charges': 10264.4421}
{'_id': ObjectId('679c71dcd9b702a57f0a2eed'), 'age': 31, 'sex': 'female', 'bmi': 30.495, 'children': 3, 'smoker': 'no', 'region': 'northeast', 'charges': 6113.23105}
{'_id': ObjectId('679c71dcd9b702a57f0a2eee'), 'age': 36, 'sex': 'female', 'bmi': 27.74, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 5469.0066}
{'_id': ObjectId('679c71dcd9b702a57f0a2eef'), 'age': 18, 'sex': 'male', 'bmi': 35.2, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 1727.54}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef0'), 'age': 50, 'sex': 'female', 'bmi': 23.54, 'children': 2, 'smoker': 'no', 'region': 'southeast', 'charges': 10107.2206}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef1'), 'age': 43, 'sex': 'female', 'bmi': 30.685, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'charges': 8310.83915}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef2'), 'age': 20, 'sex': 'male', 'bmi': 40.47, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 1984.4533}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef3'), 'age': 24, 'sex': 'female', 'bmi': 22.6, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 2457.502}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef4'), 'age': 60, 'sex': 'male', 'bmi': 28.9, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 12146.971}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef5'), 'age': 49, 'sex': 'female', 'bmi': 22.61, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 9566.9909}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef6'), 'age': 60, 'sex': 'male', 'bmi': 24.32, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 13112.6048}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef7'), 'age': 51, 'sex': 'female', 'bmi': 36.67, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'charges': 10848.1343}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef8'), 'age': 58, 'sex': 'female', 'bmi': 33.44, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 12231.6136}
{'_id': ObjectId('679c71dcd9b702a57f0a2ef9'), 'age': 51, 'sex': 'female', 'bmi': 40.66, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 9875.6804}
{'_id': ObjectId('679c71dcd9b702a57f0a2efa'), 'age': 53, 'sex': 'male', 'bmi': 36.6, 'children': 3, 'smoker': 'no', 'region': 'southwest', 'charges': 11264.541}
{'_id': ObjectId('679c71dcd9b702a57f0a2efb'), 'age': 62, 'sex': 'male', 'bmi': 37.4, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 12979.358}
{'_id': ObjectId('679c71dcd9b702a57f0a2efc'), 'age': 19, 'sex': 'male', 'bmi': 35.4, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 1263.249}
{'_id': ObjectId('679c71dcd9b702a57f0a2efd'), 'age': 50, 'sex': 'female', 'bmi': 27.075, 'children': 1, 'smoker': 'no', 'region': 'northeast', 'charges': 10106.13425}
{'_id': ObjectId('679c71dcd9b702a57f0a2efe'), 'age': 30, 'sex': 'female', 'bmi': 39.05, 'children': 3, 'smoker': 'yes', 'region': 'southeast', 'charges': 40932.4295}
{'_id': ObjectId('679c71dcd9b702a57f0a2eff'), 'age': 41, 'sex': 'male', 'bmi': 28.405, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 6664.68595}
{'_id': ObjectId('679c71dcd9b702a57f0a2f00'), 'age': 29, 'sex': 'female', 'bmi': 21.755, 'children': 1, 'smoker': 'yes', 'region': 'northeast', 'charges': 16657.71745}
{'_id': ObjectId('679c71dcd9b702a57f0a2f01'), 'age': 18, 'sex': 'female', 'bmi': 40.28, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 2217.6012}
{'_id': ObjectId('679c71dcd9b702a57f0a2f02'), 'age': 41, 'sex': 'female', 'bmi': 36.08, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 6781.3542}
{'_id': ObjectId('679c71dcd9b702a57f0a2f03'), 'age': 35, 'sex': 'male', 'bmi': 24.42, 'children': 3, 'smoker': 'yes', 'region': 'southeast', 'charges': 19361.9988}
{'_id': ObjectId('679c71dcd9b702a57f0a2f04'), 'age': 53, 'sex': 'male', 'bmi': 21.4, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 10065.413}
{'_id': ObjectId('679c71dcd9b702a57f0a2f05'), 'age': 24, 'sex': 'female', 'bmi': 30.1, 'children': 3, 'smoker': 'no', 'region': 'southwest', 'charges': 4234.927}
{'_id': ObjectId('679c71dcd9b702a57f0a2f06'), 'age': 48, 'sex': 'female', 'bmi': 27.265, 'children': 1, 'smoker': 'no', 'region': 'northeast', 'charges': 9447.25035}
{'_id': ObjectId('679c71dcd9b702a57f0a2f07'), 'age': 59, 'sex': 'female', 'bmi': 32.1, 'children': 3, 'smoker': 'no', 'region': 'southwest', 'charges': 14007.222}
{'_id': ObjectId('679c71dcd9b702a57f0a2f08'), 'age': 49, 'sex': 'female', 'bmi': 34.77, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 9583.8933}
{'_id': ObjectId('679c71dcd9b702a57f0a2f09'), 'age': 37, 'sex': 'female', 'bmi': 38.39, 'children': 0, 'smoker': 'yes', 'region': 'southeast', 'charges': 40419.0191}
{'_id': ObjectId('679c71dcd9b702a57f0a2f0a'), 'age': 26, 'sex': 'male', 'bmi': 23.7, 'children': 2, 'smoker': 'no', 'region': 'southwest', 'charges': 3484.331}
{'_id': ObjectId('679c71dcd9b702a57f0a2f0b'), 'age': 23, 'sex': 'male', 'bmi': 31.73, 'children': 3, 'smoker': 'yes', 'region': 'northeast', 'charges': 36189.1017}
{'_id': ObjectId('679c71dcd9b702a57f0a2f0c'), 'age': 29, 'sex': 'male', 'bmi': 35.5, 'children': 2, 'smoker': 'yes', 'region': 'southwest', 'charges': 44585.45587}
{'_id': ObjectId('679c71dcd9b702a57f0a2f0d'), 'age': 45, 'sex': 'male', 'bmi': 24.035, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 8604.48365}
{'_id': ObjectId('679c71dcd9b702a57f0a2f0e'), 'age': 27, 'sex': 'male', 'bmi': 29.15, 'children': 0, 'smoker': 'yes', 'region': 'southeast', 'charges': 18246.4955}
{'_id': ObjectId('679c71dcd9b702a57f0a2f0f'), 'age': 53, 'sex': 'male', 'bmi': 34.105, 'children': 0, 'smoker': 'yes', 'region': 'northeast', 'charges': 43254.41795}
{'_id': ObjectId('679c71dcd9b702a57f0a2f10'), 'age': 31, 'sex': 'female', 'bmi': 26.62, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 3757.8448}
{'_id': ObjectId('679c71dcd9b702a57f0a2f11'), 'age': 50, 'sex': 'male', 'bmi': 26.41, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 8827.2099}
{'_id': ObjectId('679c71dcd9b702a57f0a2f12'), 'age': 50, 'sex': 'female', 'bmi': 30.115, 'children': 1, 'smoker': 'no', 'region': 'northwest', 'charges': 9910.35985}
{'_id': ObjectId('679c71dcd9b702a57f0a2f13'), 'age': 34, 'sex': 'male', 'bmi': 27.0, 'children': 2, 'smoker': 'no', 'region': 'southwest', 'charges': 11737.84884}
{'_id': ObjectId('679c71dcd9b702a57f0a2f14'), 'age': 19, 'sex': 'male', 'bmi': 21.755, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 1627.28245}
{'_id': ObjectId('679c71dcd9b702a57f0a2f15'), 'age': 47, 'sex': 'female', 'bmi': 36.0, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 8556.907}
{'_id': ObjectId('679c71dcd9b702a57f0a2f16'), 'age': 28, 'sex': 'male', 'bmi': 30.875, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 3062.50825}
{'_id': ObjectId('679c71dcd9b702a57f0a2f17'), 'age': 37, 'sex': 'female', 'bmi': 26.4, 'children': 0, 'smoker': 'yes', 'region': 'southeast', 'charges': 19539.243}
{'_id': ObjectId('679c71dcd9b702a57f0a2f18'), 'age': 21, 'sex': 'male', 'bmi': 28.975, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 1906.35825}
{'_id': ObjectId('679c71dcd9b702a57f0a2f19'), 'age': 64, 'sex': 'male', 'bmi': 37.905, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 14210.53595}
{'_id': ObjectId('679c71dcd9b702a57f0a2f1a'), 'age': 58, 'sex': 'female', 'bmi': 22.77, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 11833.7823}
{'_id': ObjectId('679c71dcd9b702a57f0a2f1b'), 'age': 24, 'sex': 'male', 'bmi': 33.63, 'children': 4, 'smoker': 'no', 'region': 'northeast', 'charges': 17128.42608}
{'_id': ObjectId('679c71dcd9b702a57f0a2f1c'), 'age': 31, 'sex': 'male', 'bmi': 27.645, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 5031.26955}
{'_id': ObjectId('679c71dcd9b702a57f0a2f1d'), 'age': 39, 'sex': 'female', 'bmi': 22.8, 'children': 3, 'smoker': 'no', 'region': 'northeast', 'charges': 7985.815}
{'_id': ObjectId('679c71dcd9b702a57f0a2f1e'), 'age': 47, 'sex': 'female', 'bmi': 27.83, 'children': 0, 'smoker': 'yes', 'region': 'southeast', 'charges': 23065.4207}
{'_id': ObjectId('679c71dcd9b702a57f0a2f1f'), 'age': 30, 'sex': 'male', 'bmi': 37.43, 'children': 3, 'smoker': 'no', 'region': 'northeast', 'charges': 5428.7277}
{'_id': ObjectId('679c71dcd9b702a57f0a2f20'), 'age': 18, 'sex': 'male', 'bmi': 38.17, 'children': 0, 'smoker': 'yes', 'region': 'southeast', 'charges': 36307.7983}
{'_id': ObjectId('679c71dcd9b702a57f0a2f21'), 'age': 22, 'sex': 'female', 'bmi': 34.58, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 3925.7582}
{'_id': ObjectId('679c71dcd9b702a57f0a2f22'), 'age': 23, 'sex': 'male', 'bmi': 35.2, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 2416.955}
{'_id': ObjectId('679c71dcd9b702a57f0a2f23'), 'age': 33, 'sex': 'male', 'bmi': 27.1, 'children': 1, 'smoker': 'yes', 'region': 'southwest', 'charges': 19040.876}
{'_id': ObjectId('679c71dcd9b702a57f0a2f24'), 'age': 27, 'sex': 'male', 'bmi': 26.03, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 3070.8087}
{'_id': ObjectId('679c71dcd9b702a57f0a2f25'), 'age': 45, 'sex': 'female', 'bmi': 25.175, 'children': 2, 'smoker': 'no', 'region': 'northeast', 'charges': 9095.06825}
{'_id': ObjectId('679c71dcd9b702a57f0a2f26'), 'age': 57, 'sex': 'female', 'bmi': 31.825, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 11842.62375}
{'_id': ObjectId('679c71dcd9b702a57f0a2f27'), 'age': 47, 'sex': 'male', 'bmi': 32.3, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 8062.764}
{'_id': ObjectId('679c71dcd9b702a57f0a2f28'), 'age': 42, 'sex': 'female', 'bmi': 29.0, 'children': 1, 'smoker': 'no', 'region': 'southwest', 'charges': 7050.642}
{'_id': ObjectId('679c71dcd9b702a57f0a2f29'), 'age': 64, 'sex': 'female', 'bmi': 39.7, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 14319.031}
{'_id': ObjectId('679c71dcd9b702a57f0a2f2a'), 'age': 38, 'sex': 'female', 'bmi': 19.475, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'charges': 6933.24225}
{'_id': ObjectId('679c71dcd9b702a57f0a2f2b'), 'age': 61, 'sex': 'male', 'bmi': 36.1, 'children': 3, 'smoker': 'no', 'region': 'southwest', 'charges': 27941.28758}
{'_id': ObjectId('679c71dcd9b702a57f0a2f2c'), 'age': 53, 'sex': 'female', 'bmi': 26.7, 'children': 2, 'smoker': 'no', 'region': 'southwest', 'charges': 11150.78}
{'_id': ObjectId('679c71dcd9b702a57f0a2f2d'), 'age': 44, 'sex': 'female', 'bmi': 36.48, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 12797.20962}
{'_id': ObjectId('679c71dcd9b702a57f0a2f2e'), 'age': 19, 'sex': 'female', 'bmi': 28.88, 'children': 0, 'smoker': 'yes', 'region': 'northwest', 'charges': 17748.5062}
{'_id': ObjectId('679c71dcd9b702a57f0a2f2f'), 'age': 41, 'sex': 'male', 'bmi': 34.2, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'charges': 7261.741}
{'_id': ObjectId('679c71dcd9b702a57f0a2f30'), 'age': 51, 'sex': 'male', 'bmi': 33.33, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 10560.4917}
{'_id': ObjectId('679c71dcd9b702a57f0a2f31'), 'age': 40, 'sex': 'male', 'bmi': 32.3, 'children': 2, 'smoker': 'no', 'region': 'northwest', 'charges': 6986.697}
{'_id': ObjectId('679c71dcd9b702a57f0a2f32'), 'age': 45, 'sex': 'male', 'bmi': 39.805, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 7448.40395}
{'_id': ObjectId('679c71dcd9b702a57f0a2f33'), 'age': 35, 'sex': 'male', 'bmi': 34.32, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 5934.3798}
{'_id': ObjectId('679c71dcd9b702a57f0a2f34'), 'age': 53, 'sex': 'male', 'bmi': 28.88, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 9869.8102}
{'_id': ObjectId('679c71dcd9b702a57f0a2f35'), 'age': 30, 'sex': 'male', 'bmi': 24.4, 'children': 3, 'smoker': 'yes', 'region': 'southwest', 'charges': 18259.216}
{'_id': ObjectId('679c71dcd9b702a57f0a2f36'), 'age': 18, 'sex': 'male', 'bmi': 41.14, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 1146.7966}
{'_id': ObjectId('679c71dcd9b702a57f0a2f37'), 'age': 51, 'sex': 'male', 'bmi': 35.97, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 9386.1613}
{'_id': ObjectId('679c71dcd9b702a57f0a2f38'), 'age': 50, 'sex': 'female', 'bmi': 27.6, 'children': 1, 'smoker': 'yes', 'region': 'southwest', 'charges': 24520.264}
{'_id': ObjectId('679c71dcd9b702a57f0a2f39'), 'age': 31, 'sex': 'female', 'bmi': 29.26, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 4350.5144}
{'_id': ObjectId('679c71dcd9b702a57f0a2f3a'), 'age': 35, 'sex': 'female', 'bmi': 27.7, 'children': 3, 'smoker': 'no', 'region': 'southwest', 'charges': 6414.178}
{'_id': ObjectId('679c71dcd9b702a57f0a2f3b'), 'age': 60, 'sex': 'male', 'bmi': 36.955, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 12741.16745}
{'_id': ObjectId('679c71dcd9b702a57f0a2f3c'), 'age': 21, 'sex': 'male', 'bmi': 36.86, 'children': 0, 'smoker': 'no', 'region': 'northwest', 'charges': 1917.3184}
{'_id': ObjectId('679c71dcd9b702a57f0a2f3d'), 'age': 29, 'sex': 'male', 'bmi': 22.515, 'children': 3, 'smoker': 'no', 'region': 'northeast', 'charges': 5209.57885}
{'_id': ObjectId('679c71dcd9b702a57f0a2f3e'), 'age': 62, 'sex': 'female', 'bmi': 29.92, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 13457.9608}
{'_id': ObjectId('679c71dcd9b702a57f0a2f3f'), 'age': 39, 'sex': 'female', 'bmi': 41.8, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 5662.225}
{'_id': ObjectId('679c71dcd9b702a57f0a2f40'), 'age': 19, 'sex': 'male', 'bmi': 27.6, 'children': 0, 'smoker': 'no', 'region': 'southwest', 'charges': 1252.407}

In [5]:
import os 
from pymongo import MongoClient


def connect_to_mongodb(mongodb_connection_string:str):
    try:
        # Connect to the MongoDB server
        client = MongoClient(mongodb_connection_string)  # Default port
        print("Connected to MongoDB Server")
        return client
        
    except Error as e:
        custom_exception=InsuranceException(e,sys)
        logging.error(f"unable to connect to mongodb:{custom_exception.error_message}")
        raise InsuranceException(e,sys)
        return None

In [6]:
client = connect_to_mongodb(os.getenv("mongodb+srv://jaikrishan2001:MuG5lYzwxJ0jMW5l@testing.w2n2r.mongodb.net/"))

Connected to MongoDB Server

In [8]:
coln = client["mlproject_database"]["ml_collection"]
list(coln.find())

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 679869315f182b0e1e2b1ed2, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

In [4]:
for i in coln.find():
    print(i)

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 679868355f182b0e1e2b1ed1, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

In [6]:
client = MongoClient("mongodb://localhost:27017", serverSelectionTimeoutMS=10000)

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("insurance.csv")

In [23]:



# Define validation functions
def validate_sex(value):
    return value in ["male", "female"]

def validate_bmi(value):
    return isinstance(value, (int, float)) and value > 0

def validate_children(value):
    return isinstance(value, int) and value >= 0

def validate_smoker(value):
    return value in ["yes", "no"]

def validate_region(value):
    return value in ["southeast", "southwest", "northeast", "northwest"]

def validate_charges(value):
    return isinstance(value, (int, float)) and value >= 0

# Apply validation checks
invalid_rows = df[
    (~df["sex"].apply(validate_sex)) |
    (~df["bmi"].apply(validate_bmi)) |
    (~df["children"].apply(validate_children)) |
    (~df["smoker"].apply(validate_smoker)) |
    (~df["region"].apply(validate_region)) |
    (~df["charges"].apply(validate_charges))
]

# Display validation results
# if we get any invalid rows then we will delete them
df.drop(invalid_rows.index, inplace=True)
if invalid_rows.empty:
    print(" Data is valid!")
else:
    print(" Invalid data found:")
    print(invalid_rows)
    df.drop(invalid_rows.index, inplace=True)

 Data is valid!

In [24]:
df.loc[0,"sex"] = "f"


df.head()

   age   sex     bmi  children smoker     region      charges
0   19     f  27.900         0    yes  southwest  16884.92400
1   18  male  33.770         1     no  southeast   1725.55230
2   28  male  33.000         3     no  southeast   4449.46200
3   33  male  22.705         0     no  northwest  21984.47061
4   32  male  28.880         0     no  northwest   3866.85520

In [8]:
df.head()

   age     sex     bmi  children smoker     region      charges
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160

In [5]:
import mysql.connector
from mysql.connector import Error
import sys

class InsuranceException(Exception):
    def __init__(self, error_message, error_detail):
        super().__init__(error_message)
        self.error_detail = error_detail

def connect_to_mysql():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            user='root',  # Replace with your MySQL username
            password='1234',  # Replace with your MySQL password
            database='mlproject_db',  # Replace with your database name
            allow_local_infile=True  # Enable LOCAL INFILE
        )
        if connection.is_connected():
            print("Connected to MySQL database")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            age INT NOT NULL,
            sex VARCHAR(10) NOT NULL,
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        raise InsuranceException(e, sys)

def dump_data_sql(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Use the LOCAL option to load from a local file
        load_data_query = f"""
        LOAD DATA LOCAL INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    try:
        # Create the table if it doesn't exist
        create_table(connection)
        
        # Specify the path to your CSV file
        csv_file_path = './firsthalf_data.csv'  # Update this path
        
        # Load data from CSV into the table
        dump_data_sql(connection, csv_file_path)
    finally:
        # Close connection
        connection.close()
        print("Connection closed.")

Connected to MySQL database
Table 'insurance_data' created successfully (or already exists).
Data loaded successfully from CSV.
Connection closed.

In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\jaikr\OneDrive\Desktop\mlproject\Artifcat\31-01-25 11-50-03\data ingestion\Dataset\insurance.csv")

df.head()

,0,1,2,3,4,5,6,sex,bmi,children,smoker,region,charges
0,19.0,female,27.900,0.0,yes,southwest,16884.90,NaN,NaN,NaN,NaN,NaN,NaN
1,18.0,male,33.770,1.0,no,southeast,1725.55,NaN,NaN,NaN,NaN,NaN,NaN
2,28.0,male,33.000,3.0,no,southeast,4449.46,NaN,NaN,NaN,NaN,NaN,NaN
3,33.0,male,22.705,0.0,no,northwest,21984.50,NaN,NaN,NaN,NaN,NaN,NaN
4,32.0,male,28.880,0.0,no,northwest,3866.86,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.columns  = ['age','sex', 'bmi', 'children', 'smoker',
       'region', 'charges']

Index(['0', '1', '2', '3', '4', '5', '6', 'sex', 'bmi', 'children', 'smoker',
       'region', 'charges'],
      dtype='object')

In [21]:
df["children"].value_counts()

children
0    574
1    324
2    240
3    157
4     25
5     18
Name: count, dtype: int64

In [ ]:
df{}