In [8]:
print("hello world!")

hello world!

In [9]:
import logging,os
from datetime import datetime
dir_name = "insurance_logs"
# os.makedirs(dir_name,exist_ok=True)

time_stamp=datetime.now().strftime("%d-%m-%y %H:%M:%S")
file_name=time_stamp + ".log"

log_file_path = os.path.join(dir_name, file_name)

In [10]:
import sys 
class InsuranceException(Exception):
    def __init__(self,error_message : Exception,error_details : sys):
        super().__init__(error_message)
        self.error_message = InsuranceException.error_message_detail(error_message,error_details=error_details)


    @staticmethod
    def error_message_detail(error:Exception,error_details : sys)->str:
        error_class,error_message,exc_tb = error_details.exc_info()
        line_number = exc_tb.tb_frame.f_lineno
        file_name = exc_tb.tb_frame.f_code.co_filename

        error_message = f"error occured in this{file_name}file,at the line no. [{line_number}], error message:- [{error_message}]"
        return error_message
    

    def __str__(self):
        return InsuranceException.__name__.__str__()

In [11]:
try: 
    10/0
except Exception as e:

    stre = InsuranceException(e,sys)
    print(stre)

InsuranceException

In [12]:
import pandas as pd

In [31]:
df = pd.read_csv("insurance.csv")
first_portion = df.loc[0:df.shape[0]//2]
second_portion = df.loc[df.shape[0]//2+1:]

In [32]:
# first_portion.to_csv("firsthalf_data.csv",index=False)

second_portion.to_csv("secondhalf_data.csv",index=False)

In [15]:
import mysql.connector

In [16]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234' # Replace with your MySQL password
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

# Connect and create a cursor
connection = connect_to_mysql()
if connection:
    cursor = connection.cursor()

    # Execute a query
    cursor.execute("SHOW DATABASES;")
    print("Databases:")
    for db in cursor.fetchall():
        print(f"- {db[0]}")

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Databases:
- information_schema
- mysql
- performance_schema
- sakila
- sys
- world
Connection closed.

In [17]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [28]:
df1 = pd.read_csv("firsthalf_data.csv")
df1.head()
# df1.drop(["Unnamed: 0"],axis=1,index=False)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [38]:
df2 = pd.read_csv("secondhalf_data.csv",index_col=0)

df2.head()

          bmi  children smoker     region     charges
sex
male    31.57         3     no  southeast   4837.5823
female  31.16         0     no  northeast   3943.5954
male    29.70         0     no  southeast   4399.7310
female  31.02         0     no  southeast   6185.3208
female  43.89         2    yes  southeast  46200.9851

In [35]:
df2.to_csv("secondhalf_data.csv",index=0)

In [36]:
df3 = pd.read_csv("secondhalf_data.csv")
df3.head()

      sex    bmi  children smoker     region     charges
0    male  31.57         3     no  southeast   4837.5823
1  female  31.16         0     no  northeast   3943.5954
2    male  29.70         0     no  southeast   4399.7310
3  female  31.02         0     no  southeast   6185.3208
4  female  43.89         2    yes  southeast  46200.9851

In [39]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db'      # Replace with your database name
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            id INT AUTO_INCREMENT PRIMARY KEY,
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table
    create_table(connection)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Connection closed.

In [45]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db'      # Replace with your database name
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

def load_data_from_csv(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Load data from CSV into the table
        load_data_query = f"""
        LOAD DATA INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table if it doesn't exist
    create_table(connection)
    
    # Specify the path to your CSV file
    csv_file_path = './firsthalf_data.csv'  # Update this path
    
    # Load data from CSV into the table
    load_data_from_csv(connection, csv_file_path)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Error loading data from CSV: 1290 (HY000): The MySQL server is running with the --secure-file-priv option so it cannot execute this statement
Connection closed.

In [46]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db', # Replace with your database name
            allow_local_infile=True  # Enable loading local files
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

def load_data_from_csv(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Use the LOCAL option to load from a local file
        load_data_query = f"""
        LOAD DATA LOCAL INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table if it doesn't exist
    create_table(connection)
    
    # Specify the path to your CSV file
    csv_file_path = './firsthalf_data.csv'  # Update this path
    
    # Load data from CSV into the table
    load_data_from_csv(connection, csv_file_path)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Error loading data from CSV: 3948 (42000): Loading local data is disabled; this must be enabled on both the client and server sides
Connection closed.

In [47]:
import mysql.connector
from mysql.connector import Error

def connect_to_mysql():
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',       # Replace with your host, e.g., '127.0.0.1'
            user='root',            # Replace with your MySQL username
            password='1234',        # Replace with your MySQL password
            database='mlproject_db', # Replace with your database name
            allow_local_infile=True  # Enable loading local files
        )
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            return connection
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_table(connection):
    try:
        cursor = connection.cursor()
        # Define the table structure
        create_table_query = """
        CREATE TABLE IF NOT EXISTS insurance_data (
            bmi FLOAT NOT NULL,
            children INT NOT NULL,
            smoker VARCHAR(10) NOT NULL,
            region VARCHAR(50) NOT NULL,
            charges FLOAT NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table 'insurance_data' created successfully (or already exists).")
    except Error as e:
        print(f"Error creating table: {e}")

def load_data_from_csv(connection, csv_file_path):
    try:
        cursor = connection.cursor()
        # Use the LOCAL option to load from a local file
        load_data_query = f"""
        LOAD DATA LOCAL INFILE '{csv_file_path}'
        INTO TABLE insurance_data
        FIELDS TERMINATED BY ','   -- Column separator
        ENCLOSED BY '"'            -- Text delimiter (optional)
        LINES TERMINATED BY '\\n'  -- Row delimiter
        IGNORE 1 LINES;           -- Ignore header row
        """
        cursor.execute(load_data_query)
        connection.commit()  # Commit the changes to the database
        print("Data loaded successfully from CSV.")
    except Error as e:
        print(f"Error loading data from CSV: {e}")

# Connect to MySQL
connection = connect_to_mysql()
if connection:
    # Create the table if it doesn't exist
    create_table(connection)
    
    # Specify the path to your CSV file
    csv_file_path = './firsthalf_data.csv'  # Update this path
    
    # Load data from CSV into the table
    load_data_from_csv(connection, csv_file_path)

    # Close connection
    connection.close()
    print("Connection closed.")

Connected to MySQL Server
Table 'insurance_data' created successfully (or already exists).
Data loaded successfully from CSV.
Connection closed.

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp313-cp313-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp313-cp313-win_amd64.whl (976 kB)
   ---------------------------------------- 0.0/976.9 kB ? eta -:--:--
   ---------- ----------------------------- 262.1/976.9 kB ? eta -:--:--
   ---------------------------------------- 976.9/976.9 kB 5.7 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [4]:
!pip install pymongo pandas

Requirement already satisfied: pymongo in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (4.10.1)
Requirement already satisfied: pandas in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pymongo) (2.7.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\jaikr\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient('mongodb+srv://jaikrishan2001:MuG5lYzwxJ0jMW5l@testing.w2n2r.mongodb.net/')  # Replace with your connection string if needed

# Specify the new database and collection name
new_db_name = 'mlproject_database'  # Change to your preferred database name
new_collection_name = 'ml_collection'  # Change to your preferred collection name

# Access the database and collection
db = client[new_db_name]
collection = db[new_collection_name]

# Load the CSV file into a pandas DataFrame
csv_file_path = 'secondhalf_data.csv'  # Replace with the actual path to your CSV file
data = pd.read_csv(csv_file_path)

# Convert the DataFrame to a list of dictionaries
data_dict = data.to_dict(orient='records')

# Insert the data into MongoDB
result = collection.insert_many(data_dict)

print(f"Inserted {len(result.inserted_ids)} documents into the collection '{new_collection_name}' in the database '{new_db_name}'.")

# Verify the insertion
print("Sample documents inserted into the collection:")
for doc in collection.find().limit(5):  # Display the first 5 documents
    print(doc)

Inserted 668 documents into the collection 'ml_collection' in the database 'mlproject_database'.
Sample documents inserted into the collection:
{'_id': ObjectId('67946cb763c519983f7e9800'), 'sex': 'male', 'bmi': 31.57, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 4837.5823}
{'_id': ObjectId('67946cb763c519983f7e9801'), 'sex': 'female', 'bmi': 31.16, 'children': 0, 'smoker': 'no', 'region': 'northeast', 'charges': 3943.5954}
{'_id': ObjectId('67946cb763c519983f7e9802'), 'sex': 'male', 'bmi': 29.7, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 4399.731}
{'_id': ObjectId('67946cb763c519983f7e9803'), 'sex': 'female', 'bmi': 31.02, 'children': 0, 'smoker': 'no', 'region': 'southeast', 'charges': 6185.3208}
{'_id': ObjectId('67946cb763c519983f7e9804'), 'sex': 'female', 'bmi': 43.89, 'children': 2, 'smoker': 'yes', 'region': 'southeast', 'charges': 46200.9851}